NODE_ENV=development
PORT=4000
TZ=Asia/Ho_Chi_Minh
CLIENT_URL=http://localhost:3000
BACKEND_URL=http://localhost:4000
DATABASE_URL=mongodb://localhost:27017/capstonebook
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_RETURN_URL=http://localhost:3000/payment/payos/success
PAYOS_CANCEL_URL=http://localhost:3000/payment/payos/cancel
PAYOS_WEBHOOK_URL=
PAYOS_PAYMENT_EXPIRES_MINUTES=15
